body {
    font-family: Arial, sans-serif;
    background-color: #fdffc8;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: auto;
    margin-top: 80px;
    margin-left: 0px;
    background: rgb(247, 244, 244);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
button {
    background: #3a9009;
    color: rgb(253, 253, 253);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #097b22;
}